# Node.js
node_modules/
dist/
package-lock.json
yarn.lock

# TypeScript
*.tsbuildinfo
*.d.ts

# Ambiente de desenvolvimento
.env

# Logs
logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
coverage/
*.tgz
